@font-face {
    font-family: 'GUMBALL FONT';
    font-style: normal;
    font-weight: normal;
    src: local('GUMBALL FONT'), url('Gumball.ttf') format('truetype');
}

h1 {
    color: #0ccac4;
    font-family: 'GUMBALL FONT';
    font-weight: 500;
    font-size: 64px;
    padding-top: 30px;
}

.main {
    margin-top: 300px;
    margin-bottom: 100px;
}
