
.signin {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.h1 {
    font-family: 'GUMBALL FONT';
    font-weight: 500;
    font-size: 64px;
    color: #0ccac4;
    margin-bottom: 50px;
}

.form {
    display: grid;
    text-align: center;
    width: 40%;
    border: 3px solid black;
}

.label, .input, .button {
    border: none;
    width: 80%;
}

.label {
    margin: 0 auto;
    font-family: 'GUMBALL FONT';
    font-size: 26px;
    text-align: left;
}

.input {
    height: 35px;
    margin: 5px auto 20px;
    padding: 5px;
    border-radius: 3px;
}

.button {
    font-family: 'GUMBALL FONT';
    font-size: 32px;
    background: black;
    border-radius: 3px;
    color: white;
    margin: 30px auto 60px;
    height: 50px;
}

.button:hover {
    color: black;
    background: #0ccac4cb;
}

@media screen and (max-width: 600px){
    .form {
        width: 90%;
    }
}

@media screen and (min-width: 600px) and (max-width: 1024px){
    .form {
        width: 70%;
    }
}
